<!--<img class="img img-native" src="assets/well.png" alt="">-->
<!--<img class="img img-angular" [ngSrc]="'assets/well.png'" width="450" height="300" priority>-->
<!--<img class="img img-angular" ngSrc="https://via.placeholder.com/420x300" width="450" height="300" priority>-->

<!--<img src="https://via.placeholder.com/600x800" alt="placeholder">-->
<!--<img src="https://via.placeholder.com/600x500" alt="placeholder">-->
<!--<img src="https://via.placeholder.com/600x400" alt="placeholder">-->
<!--<img src="https://via.placeholder.com/600x300" alt="placeholder">-->
<!--<img src="https://via.placeholder.com/600x300" alt="placeholder">-->

<img ngSrc="https://via.placeholder.com/600x800" width="600" height="800" alt="placeholder" priority>
<img ngSrc="https://via.placeholder.com/600x500" width="600" height="500"  alt="placeholder">
<img ngSrc="https://via.placeholder.com/600x400" width="600" height="400"  alt="placeholder">
<img ngSrc="https://via.placeholder.com/600x300" width="600" height="300"  alt="placeholder">
<img ngSrc="https://via.placeholder.com/600x300" width="600" height="300"  alt="placeholder">
