button {
  border-radius: 0.4rem;
  border: solid 1px transparent;
  min-height: 3.2rem;
  height: 3.2rem;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  min-width: 3.2rem;
  white-space: nowrap;
  padding: 0 1.2rem;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 500;
  font-style: normal;
  background: #2f5677;
}
